body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fce7e7;
}

.links1{
  color: white;
  position: absolute;
  right: 10vmin;
  top:5vmin;
  margin-right: 1vmin;
  margin-bottom: 10vmin;
  font-size: 3vmin;
  text-align: center;
  width:15vmin;
  height: 4.5vmin;
  background-color: pink;
  border-radius: 5px
}
.links2{
  color: white;
  position: absolute;
  top:5vmin;
  right: 26vmin;
  margin-right: 1vmin;
  margin-bottom: 10vmin;
  font-size: 3vmin;
  text-align: center;
  width:15vmin;
  height: 4.5vmin;
  background-color: pink;
  border-radius: 5px
}
.links4{
  color: white;
  position: absolute;
  top:10.5vmin;
  right: 26vmin;
  margin-right: 1vmin;
  margin-bottom: 10vmin;
  font-size: 3vmin;
  text-align: center;
  width:15vmin;
  height: 4.5vmin;
  background-color: pink;
  border-radius: 5px
}
.links5{

  position: absolute;
  top:10.5vmin;
  right: 10vmin;
  margin-right: 1vmin;
  margin-bottom: 10vmin;
  background-color: pink;
  font-size: 3vmin;
  text-align: center;
  width:15vmin;
  height: 4.5vmin;
  border-radius: 5px
}
.links6{
  background-color: pink;
  color: white;
  position: absolute;
  top:10.5vmin;
  right: 42vmin;
  margin-right: 1vmin;
  margin-bottom: 10vmin;
  font-size: 3vmin;
  text-align: center;
  width:15vmin;
  height: 4.5vmin;
  border-radius: 5px;
}
.SelectorAdmin{
  Color: white;
  border-radius: 0vmin;
  border: 0px;
  background-color: pink;
  color: black;
  font-size: 3vmin;
  text-align: center;
  padding-left: 2vmin;
  width:15vmin;
  height: 4.5vmin;
  border-radius: 5px;
}
.loginBut{
  position: absolute;
  top:5vmin;
  right: 42vmin;
  margin-right: 1vmin;
  margin-bottom: 10vmin;
  background-color: pink;
  border-radius: 5px;
  font-size: 3vmin;
  text-align: center;
  width:15vmin;
  height: 4.5vmin;
}
.linkText{
  text-decoration: none;
}
h1{
  text-align: center;
}
.title{
  font-size: 10vmin;
  height: 20vmin;
  text-align: center;
  font-family: Arial;
}